@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@page {
  size: 58mm 210mm;
  margin: 0;
  padding: 0;
}
.title-document {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5pt;
}

body {
  font-size: 8pt;
  font-family: Roboto, sans-serif;
  line-height: 1.1;
  letter-spacing: 0px;
}

#content {
  padding: 0;
  height: 100vh;
  width: 100%;
  /*column-count: 5;
  column-fill: auto;
  column-gap: $column-gap;*/
}

.body {
  background: blue;
}

.sect1 {
  height: auto;
  flex-grow: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: normal;
}

.with-padding td {
  padding: 0.5mm 0.5mm !important;
}

p {
  break-inside: avoid;
  hyphens: auto;
  margin: 0;
}
p .footnote:last-of-type {
  margin-bottom: -0.05cm;
}
p .inline-stem {
  display: inline-block;
  padding: 0.05cm 0 0.1cm 0;
}

a {
  color: #34495e;
  text-decoration: none;
}

h1, h2, h3, h4, h5, .paragraph {
  padding: 0.05cm 0.1cm;
  margin: 0;
}
td h1, td h2, td h3, td h4, td h5, td .paragraph {
  padding: 0 !important;
}

h3, h4, h5 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

ul, ol {
  padding: 0 0.1cm 0 0.4cm;
  margin: 0.1cm 0;
  font-size: 7.2pt;
}
ul li::marker, ol li::marker {
  font-weight: bold;
}
ul ul, ul ol, ol ul, ol ol {
  padding-right: 0;
}

hr {
  border: 1px solid black;
  border-bottom: none;
  margin: 0;
}

h2 {
  font-weight: bold;
  background-color: #808080;
  color: #FFFFFF;
}

h3 {
  background-color: #a6a6a6;
}

h4 {
  background-color: #d9d9d9;
}

h5 {
  background-color: #f2f2f2;
}

.footnote {
  display: block;
  position: relative;
  font-size: 5pt;
  margin-left: 2mm;
}
.footnote::before {
  content: "⇨";
  position: absolute;
  left: -2mm;
  top: calc(50% - 1mm);
}
.footnote .mjx-n *::before {
  font-size: smaller;
}

.imageblock {
  padding: 0.05cm 0.1cm;
  height: auto;
  width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 1px;
}

td, tr, th {
  border: 1px solid black;
}

.inlined {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.inlined td, .inlined tr, .inlined th {
  margin: 0;
  padding: 0;
  border: none;
}

.align-left {
  text-align: left;
}

.smaller {
  font-size: smaller;
}

.tiny {
  font-size: 70%;
}

.stemblock .MathJax {
  margin: 2mm 0 !important;
}

.highlight {
  margin: 2mm 0;
}
.highlight code {
  font-size: 6pt;
  display: block;
  border: 1px solid #808080;
  background: #f5f5f5;
  margin: 0.5mm;
  padding: 0.5mm;
  border-radius: 3px;
}

.code-annotation {
  display: block;
  position: absolute;
  right: 6px;
  margin: -17px 0;
  background: white;
  border: 1px solid #808080;
  padding: 0.2mm 0.5mm;
  font-size: 6pt;
}

.table.first-left tr td:first-child {
  text-align: left;
}

.centered {
  text-align: center;
}
.centered img {
  margin: 0 auto;
}

.tag {
  display: inline-block;
  background: #1E88E5;
  padding: 0.2mm 0.5mm;
  color: white;
  border-radius: 2px;
  font-size: 80%;
  font-weight: bold;
  margin: 0 0.2mm;
}
.tag.blue {
  background: #1E88E5;
}
.tag.green {
  background: #43A047;
}

.text-align.left {
  text-align: center;
}

.font-color.red {
  color: #c0392b;
}
.font-color.violet {
  color: #8e44ad;
}
.font-color.blue {
  color: #2980b9;
}
.font-color.orange {
  color: #d35400;
}

/*# sourceMappingURL=summary-theme.css.map */
